#main{
	margin: auto;
	width: 1000px;
}

#name{
	float: left;
	text-align: left;
	padding: 10px;
	margin-left: 20px;
}

#watch{
	text-align: right;
	font-size: 40px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-top: 15px;
}

#date{
	text-align: right;
	font-size: 25px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#slider{
	width: 988px;
	height: 650px;
	background-color: #555;
	color: #eee;
	border: 1px solid white;
}

#left{
	float: left;
	margin-bottom: 10px;
}

#greetings{
	margin-top: 10px;
	width: 418px;
	height: 82px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	padding: 35px;
	font-size: 50px;
	font-family: 'Thasadith';
	border: 1px solid white;
}

#greetings:hover{
	background-color: #222;
}

#right{
	float: left;
	margin-bottom: 10px;
}

#bsq{
	margin-top: 10px;
	width: 478px;
	height: 306px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-family: 'Thasadith';
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 5px;
	border: 1px solid white;
}

#hello{
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 22px;
}

#photos{
	width: 988px;
	min-height: 1000px;
	background-color: #555;
	color: #ddd;
	text-align: center;
	font-size: 27px;
	font-family: 'Thasadith';
	font-weight: 400;
	border: 1px solid white;
}

#footer{
	width: auto;
	clear: both;
	font-family: 'Bahnschrift Light';
	font-size: 13px;
	text-align: center;
	color: #eee;
	padding: 5px;
	margin-top: auto;
}

a#index{
	text-decoration: none;
	color: #eee;
	display: block;
}

a#index:hover{
	text-decoration: none;
	color: #333;
	display: block;
}

span#top{
	font-size: 16px;
}

span#main{
	font-size: 14px;
}

span#bottom{
	font-size: 14px;
}